@import "../node_modules/bootstrap/scss/bootstrap.scss";
body, html,.wrap-mural{
    height: 100%;
}
.wrap-mural {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .mural {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-rows: auto max-content;
  
      main {
  
        iframe {
          width: 100%;
          height: 100%;
        }
      }
  
      footer {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding: 6px;
        background: linear-gradient(to bottom, #f6f8f7 0%, #d9ddde 50%, #bfc2c7 100%);
        background-size: 100%;
  
        > div {
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 1px rgba(255, 255, 255, 0.25);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
        }
  
        .time {
          font-size: 53px;
          color: #575758;
          @media screen and (min-width: 1440px) {
            font-size: 3.5vw;
          }
        }
  
        .logo {
          display: inline-block;
          background: url(../assets/taesa.svg) no-repeat center;
          background-size: contain;
          padding-top: 38.31%;
          width: 75%;
        }
  
        .mega-fone {
          display: inline-block;
          width: 64px;
          margin: 0 1em;
  
          &:before {
            background: url(../assets/mega-fone.png) no-repeat center;
            background-size: contain;
            vertical-align: middle;
            display: inline-block;
            content: " ";
            width: 100%;
            padding-top: 86.5%;
          }
        }
  
        .mural-description {
          text-transform: uppercase;
          white-space: nowrap;
          font-size: 42px;
          font-weight: 500;
          color: #575758;
          @media screen and (min-width: 1440px) {
            font-size: 3vw;
          }
        }
      }
  
    }
  }
  