main {
  background-image: url("../assets/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.slide {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;

  .slide-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 20px;

    .icone {
      padding-left: 20px;
      padding-right: 50px;
    }

    .title {
      color: #03286a;
      font-family: "Raleway", sans-serif;
      font-size: 42px;
      font-weight: 600;
    }
  }

  .linha-white {
    background-color: #fff;
    position: absolute;
    padding: 2px;
    width: 100%;
    top: 150px;
    right: 0;
  }

  .slide-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin: 0 1.25rem;
    margin-top: 7px;
    // background-color: rgba(0, 0, 0, 0.03);
    font-family: Roboto, sans-serif;
    font-size: 32px;
    //   color: #fff;
    //   strong {
    //     color: #03286a
    //  }
  }
}

p {
  color: #fff;
}
strong {
  color: #03286a;
}
.fs-18 {
  color: #03286a;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.fs-30 {
  color: #03286a;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.painel-ferias {
  display: flex;
  width: 560px;
  .corpo {
    width: 100%;
    .title {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      color: #03286a;
      font-weight: 900;
      font-size: 32px;
      white-space: nowrap;
    }
    .desc {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      display: block;
    }
    .periodo {
      font-family: Roboto, sans-serif;
      font-weight: bold;
      background: #fff;
      padding: 5px 13px;
      color: #868f9b;
      font-size: 18px;
      border-radius: 4px;
    }
  }
}

.ferias {
  display: flex;
  margin: 15px;
  .ferias-img {
    img {
      width: 150px;
      height: 150px;
    }
  }
  .ferias-content {
    padding-left: 20px;
    .title {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      color: #03286a;
      font-weight: 900;
      font-size: 38px;
      white-space: nowrap;
    }
    .desc {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 29px;
      display: block;
    }
    .periodo {
      font-family: Roboto, sans-serif;
      font-weight: bold;
      background: #fff;
      padding: 5px 13px;
      color: #868f9b;
      font-size: 18px;
      border-radius: 4px;
    }
  }
}
.grid {
  display: grid;
  margin: 0 auto;
}

.grid-template-rows-1 {
  // grid: 260px / 1fr 1fr;
  
	grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 300px);
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1600px) {
  .grid-template-rows-1 {
    grid-template-rows: repeat(3, 240px);
  }
}